<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/navigation') %>
    <h1>Welcome to the home page</h1>
    <% if(animals.length === 0){ %>
        <h2>The list is empty</h2>
    <% } %>
    <ul>
    <% animals.forEach(element => { %>
        <li><a href="animals/<%=element.id%>"><%=element.name%></a></li>
    <% }); %>
    </ul>
</body>
</html>